*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  color: #83898d;
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  min-width: 320px;
  padding: 3rem 4rem;
}

h1 {
  color: #6a6a6a;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  display: none;
}

h3,
h4 {
  color: #4c565c;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
}

header {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "headline" "search";
}
@media screen and (min-width: 960px) {
  header {
    gap: 2.5rem;
    grid-template-areas: "headline search";
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
  }
}
header h1 {
  grid-area: headline;
}
header input {
  border: 1px solid #ccc;
  border-radius: 5px;
  grid-area: search;
  padding: .5rem;
}
header input:invalid {
  outline: 2px solid red;
}

section ul {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: auto;
  margin-top: 1rem;
}
@media screen and (min-width: 960px) {
  section ul {
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    margin-top: 2.5rem;
  }
}
section figure {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 128px 1fr;
  grid-template-rows: auto;
  justify-items: center;
  overflow: hidden;
  padding: 1.5rem;
  text-align: left;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
@media screen and (min-width: 960px) {
  section figure {
    gap: 1.5rem;
    padding: 1.5rem;
  }
}
section figure:hover {
  box-shadow: 2px 4px 8px #999;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section figure figcaption {
  margin-right: auto;
}
section figure h3 {
  margin-bottom: .25rem;
}
section figure img {
  border-radius: 50%;
}
section .hidden {
  display: none;
}

.no-results {
  color: red;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.dialog {
  background-color: #fcfcfc;
  border-radius: 1rem;
  border: 1px solid #ccc;
  left: 50%;
  overflow: hidden;
  padding: 2rem;
  position: fixed;
  text-align: center;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 420px;
  z-index: 1;
}
.dialog-backdrop {
  background-color: rgba(0, 0, 0, .4);
  content: "";
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dialog small {
  color: #999;
  display: block;
  font-size: .8rem;
  margin-bottom: 1rem;
}
.dialog figure {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: calc(5px * 2);
  padding: 1.5rem;
}
.dialog img {
  border-radius: 50%;
  display: block;
  margin: auto;
}
.dialog h4 {
  margin-top: .5rem;
}
.dialog p,
.dialog hr {
  margin-top: 1rem;
}
.dialog hr {
  border: 0;
  border-top: 1px solid #ccc;
}
.dialog button {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  color: #4f4f4f;
  cursor: pointer;
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  height: 2rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: background-color .2s ease-in-out;
  width: 2rem;
}
.dialog button:hover {
  background-color: #ccc;
}

.dialog nav {
  align-items: center;
  display: grid;
  grid-template-columns: 5rem 5rem;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
}
.dialog nav button {
  font-size: 3rem;
  height: 5rem;
  position: relative;
  right: auto;
  top: auto;
  width: 5rem;
}
